.wrapper {
    width: 100vw;
    height: 100vh;
    background: transparent;
    background-color: rgba(0,0,0,0.65);
    position: absolute;
    top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 9999;
}

.amFormControl {
    width: 70vw;
    height: 80vh;
    margin-top: 3vh;
    background-color: #090909;
    color: #11bdca;
    display: flex;
    flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
}

.amFormControl img {
    height: 7vh;
}

.amFormControl span {
    font-weight: 700;
    font-size: 5vh;
    position: absolute;
    right: 16vw;
    top: 5vh;
    cursor: pointer;
}

.amFormControl p {
    margin-bottom: 5vh;
    font-size: 5vh;
    font-weight: 200;
}

.amFormControl form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.amFormControl form label {
    font-size: 2.5vh;
    font-weight: 700;
}

.amFormControl form input {
    margin-bottom: 1vh;
    width: 80%;
    outline: none;
    border: 1px solid #fffaec;
    border-radius: 9999px;
    padding: 1vh 1vw;
    background: transparent;
    color: #11bdca;
    font-size: 2.5vh;
}

.amFormControl form button {
    margin-top: 1vh;
    width: 50%;
    border: 1px solid #fffaec;
    border-radius: 9999px;
    padding: 1vh 1vw;
    background: #11bdca;
    color: #090909;
    font-size: 3vh;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s all;
}

.amFormControl form button:hover {
    background: #58bcc4;
}

.artists {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .amFormControl {
        width: 95vw;
        height: auto;
        margin-top: 2vh;
    }
    .amFormControl span {
        right: 5vw;
        top: 2vh;
    }
    .amFormControl form input {
width: 95%;
padding: 1vh 2vw;
    }
    .amFormControl form button {
        width: 75%;
        margin-bottom: 2vh;
    }
    .artists {
        flex-direction: column;
    }
}