.noDisplay {
    display: none;
}

.wrapper {
    width: 100vw;
    height: 15vh;
    position: fixed;
    bottom: 0;
    background-color: #272727;
    z-index: 9999;
    color: #11bdca;
    border-top: 0.1vh solid #11bdca;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.img img {
    height: 4.5vw;
    width: 4.5vw;
    border-radius: 0.1vh;
    margin-left: 1.5vw;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,1);
    z-index: 9999;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 1vw;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    font-size: 3vh;
}

.info .artists {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 .5vw;
    font-size:2vh;
}

.info p {
    transition: 0.3s all;
}

.info .artists p {
    opacity: 0.65;
}

.info p:hover {
    color: #fffaec;
    opacity: 1;
}

.info .artists p:hover {
    color: #fffaec;
    opacity: 1;
}

.volume {
    width: 20vw;
    position: absolute;
    right: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.volume svg {
    font-size: 3.5vh;
    cursor: pointer;
    transition: 0.3s all;
    margin-right: .5vw;
}

.volume svg:hover {
    color: #fffaec;
}

.volume input[type='range'] {
    -webkit-appearance: none;
    width: 9vw;
    height: 1vh;
    background: #555;
    border-radius: 9999px;
    background-image: linear-gradient(#555, #555);
    background-size: 70% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s all;
}

.volume input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    background: #11bdca;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }

.audioControls {
    width: 50vw;
    position: absolute;
    left: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.controlButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 1vw;
}

.controlButtons svg {
    font-size: 5vh;
    cursor: pointer;
    transition: 0.3s all;
}

.controlButtons svg:hover {
    color: #fffaec;
}

.playpausebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vh !important;
    color: #272727 !important;
    background-color: #11bdca !important;
    border-radius: 50%;
}

.playpausebtn:hover {
    background-color: #fffaec !important;
}

.timeSlider {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1vh 0;
}

.timeSlider p {
    width: 10%;
    text-align: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    font-size: 2vh;
}

.timeSlider input[type="range"] {
    -webkit-appearance: none;
    width: 70%;
    height: 1vh;
    background: #555;
    border-radius: 9999px;
    background-image: linear-gradient(#555, #555);
    background-size: 70% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s all;
  }
  

  .timeSlider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    background: #11bdca;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    background: #090909;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #090909;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-webkit-slider-thumb:hover {
    background: #f1582d;
  }
  
  input[type="range"]::-moz-range-thumb:hover {
    background: #f1582d;
  }
  
  input[type="range"]::-ms-thumb:hover {
    background: #f1582d;
  }

  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

.activeShuffle {
    color: #fffaec !important;
    font-size: 3.5vh !important;
    transition: 0.3s all;
}

.activeShuffle:hover {
    color: #f1582d !important;
}

.disabledShuffle,.repeatSvg {
    color: #11bdca !important;
    font-size: 3.5vh !important;
    transition: 0.3s all;
}

.disabledShuffle:hover,.repeatSvg:hover {
    color: #fffaec !important;
}

.midPanel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.midPanel svg {
    font-size: 4vh !important;
    transition: 0.3s all;
    cursor: pointer;
    color: #11bdca !important;
}

.midPanel svg:hover {
    color: #fffaec !important;
}

@media screen and (max-width: 500px)  {
    .wrapper {
        height: 46vh;
        flex-direction: column;
    }
    .img img {
        position: fixed;
        left: 1vw;
        margin-top: 1vh;
        height: 30vw;
        width: 30vw;
    }
    .info {
        position: fixed;
        left: 33vw;
        height: 30vw;
        font-size: 5vh;
    }
    .info .artists {
        font-size: 2.5vh;
    }
    .volume {
        position: fixed;
        width: 100vw;
        right: 0;
        bottom: 0;
    }
    .volume svg {
        font-size: 6vh;
    }
    .volume input[type='range'] {
        width: 50vw;
    }
    .audioControls {
        width: 100vw;
        position: fixed;
        bottom: 10vh;
        left: 0;
    }
    .controlButtons svg {
        font-size: 7vh;
    }
    .playpausebtn {
        font-size: 9vh !important;
    }
    .timeSlider p {
        font-size: 3vh;
    }
    .midPanel svg {
position: fixed;
right: 6vw;
bottom: 19vh;
font-size: 5vh !important;
    }
}