.noDisplay {
  display: none;
}

.wrapper,
.fsWrapper {
  width: 100vw;
  height: 15vh;
  position: fixed;
  bottom: 0;
  background-color: #272727;
  z-index: 9999;
  color: #11bdca;
  border-top: 0.1vh solid #11bdca;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.fsWrapper {
  height: 100vh;
  flex-direction: column;
  border-top: none;
}

.closeIcon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vh;
}

.img img,
.fsImg img {
  height: 4.5vw;
  width: 4.5vw;
  border-radius: 0.1vh;
  margin-left: 1.5vw;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 1);
  z-index: 9999;
}

.fsImg img {
  height: 90vw;
  width: 90vw;
  border-radius: 10px;
  margin-left: 0;
  margin-top: 2vh;
}

.info,
.fsInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 1vw;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  font-size: 3vh;
}

.fsInfo {
  width: 90vw;
  margin: 0 5vw;
  margin-top: 2vh;
  font-size: 4vh;
}

.info .artists,
.fsInfo .fsArtists {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 0.5vw;
  font-size: 2vh;
}

.info p,
.fsInfo p {
  transition: 0.3s all;
}

.info .artists p,
.fsInfo .fsArtists p {
  opacity: 0.65;
}

.info p:hover,
.fsInfo p:hover {
  color: #fffaec;
  opacity: 1;
}

.info .artists p:hover,
.fsInfo .fsArtists p:hover {
  color: #fffaec;
  opacity: 1;
}

.volume,
.fsVolume {
  width: 20vw;
  position: absolute;
  right: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fsVolume {
  bottom: 2vh;
  right: 0;
  width: 100vw;
}

.volume svg,
.fsVolume svg {
  font-size: 3.5vh;
  cursor: pointer;
  transition: 0.3s all;
  margin-right: 0.5vw;
}

.fsVolume svg {
  font-size: 5vh;
  margin-right: 0;
}

.volume svg:hover,
.fsVolume svg:hover {
  color: #fffaec;
}

.fsVolume .volumeSvg {
  display: none;
}

.fsVolume .volumeInput {
  display: none;
}

.volume input[type='range'],
.fsVolume input[type='range'] {
  -webkit-appearance: none;
  width: 9vw;
  height: 1vh;
  background: #555;
  border-radius: 9999px;
  background-image: linear-gradient(#555, #555);
  background-size: 70% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s all;
}

.volume input[type='range']::-webkit-slider-thumb,
.fsVolume input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2vh;
  width: 2vh;
  border-radius: 50%;
  background: #11bdca;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

.audioControls,
.fsAudioControls {
  width: 50vw;
  position: absolute;
  left: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fsAudioControls {
  position: relative;
  margin-top: 4vh;
  left: 0;
  width: 100vw;
}

.controlButtons,
.fsControlButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 1vw;
}

.fsControlButtons {
  gap: 0 5vw;
}

.controlButtons svg,
.fsControlButtons svg {
  font-size: 5vh;
  cursor: pointer;
  transition: 0.3s all;
}

.fsControlButtons svg {
  font-size: 6vh;
}

.controlButtons svg:hover,
.fsControlButtons svg:hover {
  color: #fffaec;
}

.playpausebtn,
.fsPlayBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vh !important;
  color: #272727 !important;
  background-color: #11bdca !important;
  border-radius: 50%;
}

.fsPlayBtn {
  font-size: 8vh !important;
}

.playpausebtn:hover,
.fsPlayBtn:hover {
  background-color: #fffaec !important;
}

.timeSlider,
.fsTimeSlider {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1vh 0;
}

.fsTimeSlider {
  margin-top: 3vh;
}

.timeSlider p,
.fsTimeSlider p {
  width: 10%;
  text-align: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  font-size: 2vh;
}

.timeSlider input[type='range'],
.fsTimeSlider input[type='range'] {
  -webkit-appearance: none;
  width: 70%;
  height: 1vh;
  background: #555;
  border-radius: 9999px;
  background-image: linear-gradient(#555, #555);
  background-size: 70% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s all;
}

.timeSlider input[type='range']::-webkit-slider-thumb,
.fsTimeSlider input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2vh;
  width: 2vh;
  border-radius: 50%;
  background: #11bdca;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type='range']::-moz-range-thumb,
.fsTimeSlider input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  height: 2vh;
  width: 2vh;
  border-radius: 50%;
  background: #090909;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type='range']::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #090909;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type='range']::-webkit-slider-thumb:hover {
  background: #f1582d;
}

input[type='range']::-moz-range-thumb:hover {
  background: #f1582d;
}

input[type='range']::-ms-thumb:hover {
  background: #f1582d;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type='range']::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type='range']::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.activeShuffle {
  color: #fffaec !important;
  font-size: 3.5vh !important;
  transition: 0.3s all;
}

.activeShuffle:hover {
  color: #f1582d !important;
}

.disabledShuffle,
.repeatSvg {
  color: #11bdca !important;
  font-size: 3.5vh !important;
  transition: 0.3s all;
}

.disabledShuffle:hover,
.repeatSvg:hover {
  color: #fffaec !important;
}

.midPanel,
.fsMidPanel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fsMidPanel {
  position: absolute;
  right: 5vw;
  top: calc(90vw + 12vh);
  z-index: 9999;
}

.midPanel svg,
.fsMidPanel svg {
  font-size: 4vh !important;
  transition: 0.3s all;
  cursor: pointer;
  color: #11bdca !important;
}

.fsMidPanel svg {
  font-size: 5vh !important;
}

.midPanel svg:hover {
  color: #fffaec !important;
}

@media screen and (max-width: 500px) {
  .wrapper {
    height: 18vh;
    flex-direction: column;
  }
  .img img {
    position: fixed;
    left: 0;
    margin-top: 1vh;
    height: 18vw;
    width: 18vw;
  }
  .info {
    max-width: 54vw;
    position: fixed;
    left: 20vw;
    height: auto;
    font-size: 3vh;
    margin-top: 2vh;
  }
  .info .artists {
    font-size: 2vh;
  }
  .volume {
    display: none;
  }
  .audioControls {
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .controlButtons svg {
    font-size: 7vh;
    display: none;
  }
  .playpausebtn {
    display: flex !important;
    font-size: 5vh !important;
    position: fixed;
    right: 2vw;
    bottom: 10vh;
  }
  .timeSlider p {
    font-size: 2.5vh;
  }
  .midPanel {
    z-index: 9999;
  }
  .midPanel svg {
    position: fixed;
    right: 12vw;
    bottom: 9.75vh;
    font-size: 5.5vh !important;
    z-index: 9999;
  }
}
